<connectionStrings>
  <add name="KhorFilesEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(Local)\SQLExpress;Initial Catalog=khorAutofinDVADoc;User Id=sa;password=Zaq123edc.;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="khorConnectionString" connectionString="Data Source=(Local)\SQLExpress;Initial Catalog=khorAutofinDVA;User Id=sa;password=Zaq123edc.;" providerName="System.Data.SqlClient" />
  <add name="khorFilesConnectionString" connectionString="Data Source=(Local)\SQLExpress;Initial Catalog=khorAutofinDVADoc;User Id=sa;password=Zaq123edc.;" providerName="System.Data.SqlClient" />
</connectionStrings>